header{
   background-color: rgb(174, 199, 225);
   padding-top: 30px;
  

}

.container {
   margin-top: 50px;
   margin: 0 auto;
   width: 948px;
   
   nav{
      display: flex;
      gap: 370px;
      align-items: center;
      margin-top: 30px;
      .nav-right{
         display: flex;
         gap: 40px;
         align-items: center;
         ul {
            list-style: none;
            display: flex;
            gap: 40px;
            li a{
               text-decoration: none;
               color: black;
            }
         }
         .btn{
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 23px;
            border: 1px solid var(--primary-purple, #722ED1);
            background: var(--white, #FFF);
         }
      }
    }
    .header{
      display: flex;

      gap: 16px;
      margin-top: 111px;
       .header1{
         .btn1{
            padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 12px;
border: none;
border-radius: 20px;
background: #F7F1FF;
         }
         h1{
            width: 472px;
            font-family: Metropolis;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
         }
         p{
            font-family: Metropolis;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
width: 472px;
         }
         .btn2 {
            .btn3{
               padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border: none;
border-radius: 23px;
background: var(--primary-purple, #722ED1);
            }
            .btn4{
               padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border: none;
border-radius: 23px;
background: #FFF;
color: var(--primary-purple, #722ED1);;
            }
         }
       }
    }
 }
 